@model RecLeagueBlog.Models.BlogPost
@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

@*<div class="row">
    <div class="col-xs-12">
        <h3>Recently Added Posts</h3>
        @foreach (var post in Model)
        {
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title">post.Title</h2>
                    <p class="card-text">post.Content</p>
                    <a href="#" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Posted on post.DateCreated by
                    <a href="#">post.CreatedBy</a>
                </div>
            </div>
        }
    </div>
</div>*@