<<<<<<< HEAD
﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Message</h1>
        <hr />
        <img src="~/Images/guyHatesWorkingOut.png" alt="Yeah Sports!" />
    </div>
</div>

=======
﻿@model RecLeagueBlog.Models.Identity.AppUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
@section userPage {
<li>
    <a href="@Url.Action("UserProfile", "Dashboard", new {id = Model.Id}, null)"><i class="fa fa-user fa-fw"></i> User Profile</a>
</li>
}
<div class="row">
    <div class="col-lg-12">
        <h1>@ViewBag.Message</h1>
        <hr />
        <img src="~/Images/guyHatesWorkingOut.png" alt="Yeah Sports!" />
    </div>
</div>

>>>>>>> 07c4b8b9b7a11e37bb457910179a5ea62a1ecf42
