@model IEnumerable<RecLeagueBlog.Models.StaticPage>
@{
	ViewBag.Title = "Pages";
	Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}


<div class="row">
	<div class="col-md-12">
		<h1>Pages</h1>
		<hr>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<form class="navbar-form navbar-left" onsubmit="return false;">
					<div class="form-group">
						<a href="@Url.Action("AddPages", "Dashboard")" class="btn btn-primary navbar-btn">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							Create Page
						</a>
					</div>
				</form>
                <form class="navbar-form navbar-right" onsubmit="return false;">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search Term" id="searchTerm">
                    </div>
                </form>
			</div>
		</nav>
	</div>
</div>
<hr>

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th width="70%">Title</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var page in Model)
				{
					<tr>
						<td>@page.Title</td>
						<td>
							@Html.ActionLink("Edit", "EditPages", "Dashboard", new { id = page.StaticPageId }, null)
							@*@Html.ActionLink("Delete", "DeletePages", "Dashboard", new { id = page.StaticPageId }, null)*@
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>


@section scripts {
    <script>
        $("#searchTerm").keyup(function () {
            var value = this.value.toLowerCase().trim();

            $("table tr").each(function (index) {
                if (!index) return;
                $(this).find("td").each(function () {
                    var id = $(this).text().toLowerCase().trim();
                    var not_found = (id.indexOf(value) == -1);
                    $(this).closest('tr').toggle(!not_found);
                    return not_found;
                });
            });
        });
    </script>
}