
@{
    ViewBag.Title = "Tags";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

   <div class="container" id="pageContent">
    <div class="container" id="mainContent">
        <div>
            <h1>Tag Library</h1>
            <br />
            <button class="btn-btn btn-primary" id="createDvdButton" float="left">Create DVD</button>
            <div class="container" align="right">

                <button class="btn-btn btn-primary" id="searchButton" align="right">Search</button>
                <select alight="right" id="searchCategoryDropList" required>
                    <option value="" disabled="disabled" selected="selected">Search Category</option>
                    <option value="title">Title</option>
                    <option value="year">Release Year</option>
                    <option value="director">Director Name</option>
                    <option value="rating">Rating</option>
                </select>
                <input class="text-box" id="searchTerm" type="text" placeholder=" search term" required />
                <button class="btn-btn btn-default" id="clearSearchButton" align="right">Clear Search</button>
            </div><br />
            <ul class="list-group" id="errorMessages"></ul>
        </div>

        <br />
        <div id="contentArea">
            <table id="tagTable" class="table table-hover">
                <tr>
                    <th width="70%">Tag</th>
                    <th width="30%"></th>
                </tr>
                <tbody id="contentRows"></tbody>
            </table>
        </div>
    </div>


    <!--CREATE DVD-->
    <div class="container" id="add-content" style="display: none">

        <h1>Create Tag</h1><hr />
        <ul class="list-group" id="addErrorMessages"></ul>
        <div class=" container">

            <table>
                <tr>
                    <th><label>Tag Name</label></th>
                    <td><input class="text" type="text" id="add-title" /></td>               
                </tr>
            </table>
        </div>

        <button class="btn-btn btn-standard" id="cancelAddButton">Cancel</button>
        <button class="btn-btn btn-primary" id="addDvdButton">Create Tag</button>
    </div>

    <!--EDIT DVD-->
    <div class="container" id="edit-content" style="display: none">
        <h1 id="editHeader">Edit Tag:</h1><hr />
        <ul class="list-group" id="editErrorMessages"></ul>
        <div class=" container"></div>
        <input type="hidden" id="textDvdId" />
        <table>
            <tr>
                <th><label>Tag Name</label></th>
                <td><input class="text" type="text" id="edit-title" /></td>
            </tr>          
        </table>
        <button class="btn-btn btn-standard" id="cancelEditButton">Cancel</button>
        <button class="btn-btn btn-primary" id="editSaveButton">Save Changes</button>
    </div>


    <!--DISPLAY CONTENT-->
    @*<div class="container" id="display-content" style="display: none">
        <h1 id="displayTitle"></h1><hr />
        <table id="displayTable">
            <tr>
                <th>Release Year:</th>
                <td id="displayReleaseYear"></td>
            </tr>
            <tr>
                <th>Director:</th>
                <td id="displayDirector"></td>
            </tr>
            <tr>
                <th>Rating:</th>
                <td id="displayRating"></td>
            </tr>
            <tr>
                <th>Notes:</th>
                <td id="displayNotes"></td>
            </tr>
        </table>
        <button class="btn-btn btn-primary" id="backToMainPage">Back</button>
    </div>*@
</div>
<script src="~/Scripts/dvdList.js"></script>


